@charset "UTF-8";

header {
    background-color: #ffcccc;
    width:1000px;
    height:auto;
    position: fixed;
    top:0;
    left:0;

}
#wrapper{
    display:flex;
    margin:0;
    height:500px;
    display:  inline-block;

}

#main{

    float:left;
    height:500px;
    width:700px;
    background-color:#ccffcc;
    position: fixed;
    top:32px;
    left:0;


}

#menu{
    float:right;
    width:300px;
    height:500px;
    background-color:#ccccff;
    position: fixed;
    top:32px;
    left:700px;


}


footer{
    background-color: #ffccff;
    width:1000px;
    height:auto;
    position:fixed;
    top:532px;
    left:0;


}

